:root {
  --gridBackground: var(--color-light-gray);
  --gridForeground: var(--color-dark-gray);
}

@media (prefers-color-scheme: dark) {
  :root {
    --gridBackground: var(--color-base-gray);
    --gridForeground: var(--color-light-gray);
  }
}

.gridCell {
  animation: grid-cell-pulse 30s ease-in-out infinite alternate;
}

@keyframes grid-cell-pulse {
  0%,
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90% {
    background-color: var(--gridBackground);
  }

  100% {
    background-color: var(--gridForeground);
  }
}

@media (prefers-reduced-motion: reduce) {
  .gridCell {
    animation: none;
  }
}

.portfolioParagraph {
  text-align: justify;
  text-indent: 32px;
}

.portfolioHeading {
  text-align: left;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
  text-decoration-line: underline;
  margin-top: 4rem;
}

.portfolioSubheading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.portfolioList {
  list-style-type: disc;
  text-indent: 0;
  margin-left: 3rem;
}

.technologiesUsed {
  margin-top: 16px;
}
