:root {
  --gridBackground: #ffffff;
  --gridForeground: #000c25;
  --baseGray: #262626
}

@media (prefers-color-scheme: dark) {
  :root {
    --gridBackground: var(--baseGray);
    --gridForeground: #ffffff;
  }
}

.gridCell {
  animation: grid-cell-pulse 30s ease-in-out infinite alternate;
}

@keyframes grid-cell-pulse {
  0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
    background-color: var(--gridBackground);
  }

  100% {
    background-color: var(--gridForeground);
  }
}

@media (prefers-reduced-motion: reduce) {
  .gridCell {
    animation: none;
  }
}

/* There's not really a way to make real liquid glass with CSS since it requires distortions.
  However, it would be possible to make them with webGL and js libraries. */
.glass {
  box-shadow: 0px 0px 2px var(--baseGray) inset,
              2px 1px 2px white inset,
              -2px -0px 2px white inset;
}
